.innerframe{
	width: 1200px !important;
	margin: 0 auto !important;
}

.group-name{
	display: block !important;
	font-size: 2em !important;
	margin-top: 10px !important;
}

.group-description{
	float: left !important;
	width: 655px !important;
	min-height: 650px !important;
}
.group-description img{
	width: 650px !important;
	box-shadow: 0px 0px 5px black;
}
.group-description img.rotated {
  width: auto !important;
  height: 650px !important;
}

#question1{ /* e mail */
	display: inline-block;
	width: 250px;
}
#question2{
	display: inline-block;
	width: 270px;
}
#question3{
	display: inline-block;
	width: 250px;
}
#question4{
	display: inline-block;
	width: 270px;
}
#question5{
	display: inline-block;
	width: 250px;
}
#question6{
	display: inline-block;
	width: 250px;
}
#question7{
	display: inline-block;
	width: 250px;
}
#question8{
	display: inline-block;
	width: 250px;
}
#question9{
	display: inline-block;
	width: 500px;
}
#question10{
	display: inline-block;
	width: 120px;
}
#question10 .questiontext span:nth-child(3){
	display:none;
}
#question10 .questiontext span.asterisk:after {
	content: "AKP";
	font-size: 2em;
	color: black;
	padding-left: 5px;
}
#question11{
	display: inline-block;
	width: 120px;
}
#question11 .questiontext span:nth-child(3){
	display:none;
}
#question11 .questiontext span.asterisk:after {
	content: "CHP";
	font-size: 2em;
	color: black;
	padding-left: 5px;
}
#question12{
	display: inline-block;
	width: 120px;
}
#question12 .questiontext span:nth-child(3){
	display:none;
}
#question12 .questiontext span.asterisk:after {
	content: "MHP";
	font-size: 2em;
	color: black;
	padding-left: 5px;
}
#question13{
	display: inline-block;
	width: 120px;
}
#question13 .questiontext span:nth-child(3){
	display:none;
}
#question13 .questiontext span.asterisk:after {
	content: "HDP";
	font-size: 2em;
	color: black;
	padding-left: 5px;
}
#question15{
	display: inline-block;
}
#question16{
	display: inline-block;
	width: 220px;
}
#question17{
	display: inline-block;
	width: 280px;
}
#question18{
	display: inline-block;
	width: 250px;
}
#question19{
	display: inline-block;
	width: 250px;
}

td.answer{
	padding: 0em !important;
}

p.question{
	margin-top: 3px;
	margin-bottom: 3px;
}

/* email input */
#answer516487X1X1{
	width: 200px;
	margin-right: 10px;
}

#answer516487X1X4{
	width: 70px;
}

.question-wrapper{
	width: auto !important;
}

td.questiontext{
	color: rgb(102, 102, 102) !important;
	font-family: verdana, arial, sans-serif !important;
	font-size: 13.3333330154419px !important;
	line-height: 20px !important;
	padding: 0.2em 1em !important;
}



